@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Tangerine:wght@400;700&display=swap');

@font-face {
    font-family: santio bold;
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}

/* ################
fonts & colors
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: santio bold;

#e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff
#################*/

/* #####################################################################
                                general
#####################################################################*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* background image styles */
.hero {
    min-height: 100vh;
    background-image: url('../img/cleo-topper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    isolation: isolate;
}

.hero-intro {
    width: 100%;
    padding: 2em;
    padding-top: min(15vh, 10rem);
    position: relative;

}

.hero-intro::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: rgb(91, 91, 91);
    mix-blend-mode: multiply;
}

/* #####################################################################
                                header
#####################################################################*/

.hero-header {
    text-decoration: underline #e7bc0e;
    font-family: 'Roboto';
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.907);
    position: absolute;
    top: 0;
    right: 1em;
    margin: 11px 6px 0 0;
    padding-right: 7em;
}

.hero-heart {
    width: 1%;
    position: absolute;
    top: 0;
    right: 9%;
    margin: 1em 10em 0 0;
}

/* #####################################################################
                                main
#####################################################################*/

.millionsofcloes {
    font-family: santio bold;
    font-size: 6em;
    color: #7eb8e1;
    margin: 3em 3em 1em 1em;

}

.millionsofcloes h2 {
    text-align: left;
    font-family: 'Tangerine', cursive;
    font-size: 1em;
    letter-spacing: -4.9px;
    margin-top: 1em;
    color: #e7bc0e;
}

.caringwomen {
    width: 63%;
    text-align: left;
    line-height: 1.5em;
    font-family: santio bold;
    font-size: 3.5rem;
    color: #6bc1a3;
    margin: 5em 0 0 3em;
    padding: 0em 1em 0 2em;
}

/* main section 2.5 million domestic workers */


.domestic-workers-img img {
    width: 10%;
    color: #e7bc0e;
    margin: 8em 12em 12em 16em;
}

.million {
    font-family: santio bold;
    font-size: 12em;
    font-weight: bold;
    color: #e7bc0e;
    padding: 0em 0em 0em 1.5em;
}

.domestic-workers {
    font-family: santio bold;
    font-size: 3.1rem;
    color: #e7bc0e;
    padding-left: 5.8em;
}

.domestic-workers p:first-child {
    display: inline;
}

.domestic-workers p:last-child {
    padding: 0 4px;
    background: rgb(45, 44, 44);
    color: #fff;
    display: inline-block;
}

/* main section paid less with class="domestic-workers"  */

main section:nth-of-type(4) h1 {
    color: #cb91b6;
}

main section:nth-of-type(4) p {
    color: #cb91b6;
}

main section:nth-of-type(4) div:first-child {
    margin-top: -15em;
}

/* main section no health insurance */
main section:nth-of-type(5) h1 {
    color: #6bc1a3;
}

main section:nth-of-type(5) p {
    color: #6bc1a3;
}

main section:nth-of-type(5) article:nth-child(4) {
    color: #7eb8e1;
    font-size: 3rem;
    margin-left: 14em;
    padding: 0em;
}

main section:nth-of-type(5) div:first-child {
    margin-top: -40em;
}

/* 
#####################################################################
                                footer
#####################################################################*/

footer {
    height: 100vh;
    background-color: # #efefef;
    background-image: url("../img/see.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer section:first-child {
    height: 100vh;
    background-color: #efefef;
    background-image: url("../img/kid.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer section:nth-child(2) {
    background: #000;
    height: 100vh;
}

footer section:nth-child(2) div {
    color: white;
    text-align: left;
    font-family: santio bold;
    font-size: 8rem;
    padding: 10% 10% 15% 10%;
}

footer section:nth-child(2) div button {
    text-align: center;
    font-family: 'Roboto';
    padding: 1rem 3rem;
    border-color: #fff;
    button-style: none;
    background-color: #000;
    color: #fff;
}

footer button:hover {
    box-shadow: 5px 5px #fff;
}

.romawebsite {
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.romawebsite a {
    text-decoration: none;
    color: #6bc1a3;
}